<h2>Your Tasks:</h2>
<table class="table table-striped">
  <thead style="background-color:#f8f9fa;">
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Due Date</th>
      <th>Assignee</th>
      <% if current_user.admin? || current_user.manager? %>
        <th>Creator</th>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td>
          <% case task.status %>
          <% when "pending" %>
            <span class="badge bg-warning text-dark">Pending</span>
          <% when "in_progress" %>
            <span class="badge bg-primary">In Progress</span>
          <% when "completed" %>
            <span class="badge bg-success">Completed</span>
          <% end %>
        </td>
        <td><%= task.due_date %></td>
        <td><%= task.assignee.first_name.presence || task.assignee.email %></td>
        <% if current_user.admin? || current_user.manager? %>
          <td><%= task.creator.first_name.presence || task.creator.email %></td>
          <td>
            <%= link_to "Edit", edit_task_path(task), class: "btn btn-sm btn-warning" if policy(task).update? %>
            <%= link_to "Delete", task_path(task), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-danger" if policy(task).destroy? %>
            <%= link_to "Mark Complete", mark_complete_task_path(task), method: :patch, class: "btn btn-sm btn-success" if policy(task).mark_complete? %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
